<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">主頁</a>
    <form class="" action="/apis/addQuestion" method="post">
      <input type="text" name="question" value="">
      <input type="text" name="article" value="">
      <input type="submit" name="submit" value="提問">
    </form>
  </body>
</html>
