<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <title></title>
  </head>
  <body>
    <a href="/">主頁</a>

    <form method="POST" action="/apis/addQuestion?category=<%= category %>">
        <div>
            <label>標題</label>
            <input type="text" name="title" placeholder="[公告] 標題">
        </div>
        <div>
            <label>最新消息內容</label>
            <textarea name="content" id="newQContent" placeholder="Something Here"></textarea>
        </div>
            <button type="submit">發佈</button>
    </form>

    <script src="/assets/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.plugins.addExternal("codesnippet", "https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.7.3/plugins/codesnippet/plugin.js", "");
        CKEDITOR.replace("newQContent", {
        extraPlugins: "codesnippet",
        codeSnippet_theme: "monokai_sublime"
        });
    </script>
  </body>
</html>
