<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% for(i ; i < length ; i++){ %>
      <p><%=arr[i].name%></p>
      <p><%=arr[i].question%></p>
      <p><%=arr[i].article%></p>
    <% } %>
  </body>
</html>
