<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/apis/changePasswd" method="post">
      <input type="text" name="passwd" value=<%= passwd %>>
      <input type="submit" name="" value="更改">
    </form>
  </body>
</html>
