<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/apis/editQuestion?id=<%= id %>" method="post">
      <input type="text" name="question" value=<%= question %>>
      <input type="text" name="article" value=<%= article %>>
      <input type="submit" name="" value="編輯">
    </form>
  </body>
</html>
