<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/apis/login" method="post" name="login">
      <input type="text" name="user" placeholder="名稱">
      <input type="password" name="passwd" placeholder="密碼">
      <input type="submit" name="submit" value="登入">
    </form>
    <a href="/">主頁</a>
    <a href="/users/register">註冊</a>
  </body>
</html>
