<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>用戶名稱：<%= username %></p>
    <p>用戶密碼：<%= passwd %></p>
    <a href="/">主頁</a>
    <a href="/users/changePasswd">更改密碼</a>
  </body>
</html>
